@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="MakePayment()">Do the thing</button>
</div>

<script>
    function MakePayment() {
        $.get("/Home/MakePayment");
    }
</script>